body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*,*::before, *::after {
    box-sizing: border-box;
}



/* header styling for the links and logo */

.hero {
    background: #1f2937;
    color: floralwhite;
    padding: 2em 6em;
}


a {
    text-decoration: none;
    color: floralwhite;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

hero-text {
    max-width: 25em;
}

.top-img {
    border-radius: 2px;
    width: 100%;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em ;
}

.hero-header  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

button {
    border: 1px solid;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background: #3882f6;
    color: floralwhite;
    cursor: pointer;
}

/* main content stying*/

.topic {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 2em;
}


.hero-img-and-information {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em 6em;
}

.hero-img-and-information div{
    padding-bottom: 2em;
    border-radius: 2px;
}

div article {
    padding: 10px .9px;
}

.img {
    width: 100%;
}

.quote {
    background: #e5e7eb;
    padding: 7em 2em;
    justify-content: center;
}

.text-quote {
    max-width: 40em;
    line-height: 1.4;
    font-size: 20px;
}

 cite {
    right: 38em;
    position: absolute;
}

.call-to-action {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 5em 10em;
    background: #3882f6;
    color: white;
    padding: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
}


.call-to-action-btn {
    border: 2px solid white;
}

.call-to-action-sub-heading {
    font-weight: bold;
    font-size: 24px;
}


/* footer styling */

footer {
    text-align: center;
    background: #1f2937;
    color: white;
    padding: 3em
}


/*for mobile*/

@media screen and (max-width: 900px) {
    .hero-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .hero-button {
        margin-bottom: 1em;
    }


    .hero {
        padding: 30px 10px;
    }


    .hero-img-and-information {
        gap: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 10px;
    }

    .hero-img-and-information div{
        border: none;
    }

    div article {
        padding:  3px 1px;
    }

    .quote {
        padding: 40px 5px;
    }

    .call-to-action {
        margin: 2em 1em;
    }


 cite {
    right: 4em;
    position: absolute;
}

.header-container {
    justify-content: space-between;
}


}